*
.env*
!.gitignore
!.config
!.hushlogin
!.envvars
!.aliases

# git
!.gitconfig
!.gitignore

# R
!.Rprofile
!.radian_profile

# mdformat
!.mdformat.toml

# ripgrep
!.ripgreprc

# ruff
!.ruff.toml

# rumdl
!.rumdl.toml

# github
!.github
!.github/README.md

# bash
!.bashrc
!.bash
!.bash/**/*

# bat
!.config/bat
!.config/bat/*  # TODO find missing config

# glow
!.config/glow
!.config/glow/**/*

# llm
!.config/llm
!.config/llm/.gitignore
!.config/llm/**/*

# mise
!.config/mise
!.config/mise/**/*

# nvim
!.config/nvim
!.config/nvim/**/*

# opencode
!.config/opencode
!.config/opencode/opencode.json
!.config/opencode/AGENTS.md

# starship
!.config/starship.toml

# write
!.config/styluslabs
!.config/styluslabs/write.xml

# wezterm
!.config/wezterm
!.config/wezterm/**/*

# zathura
!.config/zathura
!.config/zathura/**/*

# extras
!.extras
!.extras/**/*

# fortune
!.fortune
!.fortune/*

# install scripts
!.install
!.install/*

# ipython
!.ipython
!.ipython/profile_default
!.ipython/profile_default/.gitignore
!.ipython/profile_default/**/*

# bin
!.local
!.local/bin
!.local/bin/*

# streamlit
!.streamlit
!.streamlit/*

# tmux
!.tmux.conf
!.tmux
!.tmux/*

# vim
!.vim
!.vim/.gitignore
!.vim/**/*
!.vimrc.basic

# zsh
!.zshrc
