[user]
    name = BlakeJC94
    email = blakejamescook@pm.me
    username = BlakeJC94

[alias]
    conf = "!f() { $EDITOR ~/.gitconfig ;  }; f"
    dotfiles = "!f() { git --git-dir=$HOME/.dotfiles --work-tree=$HOME \"${@:-st}\"; }; f"
    ; Shorthand for common ops
    st = "!git status -sb"
    dif = "!git diff --stat"
    b = "!git checkout -"
    ad = "!git add --renormalize -v"
    cm = "!git commit -m"
    a = "!~/.gitalias/a"
    cma = "!~/.gitalias/cma"
    cma-a = "!~/.gitalias/cma --amend"
    cma-e = "!~/.gitalias/cma --no-edit"
    cmap = "!f() { git cma \"$@\" && git push; }; f"
    sync = "!git cmap \"sync: $(whoami)@$(hostname) $(date '+%Y-%m-%d %H:%M:%S')\""
    lg = "!f() { if [ $# -eq 0 ]; then git log --oneline -n 8; else git log --oneline \"$@\"; fi }; f"
    lgs = "!f() { if [ $# -eq 0 ]; then git log --name-status --oneline -n 8; else git log --name-status --oneline \"$@\"; fi }; f"
    last = log -1 HEAD --stat
    hist = log --graph --color=auto --abbrev-commit --pretty=concise
    ; Update staged changes
    unstage = reset HEAD --
    forget = restore --staged --worktree
    ; Amend/Edits commits
    commit-a = "!git commit --amend"
    commit-e = "!git commit --amend --no-edit"
    ; Remote integrations
    hub = "!NO_COLOR=true gh"
    lab = "!NO_COLOR=true glab"
    lab-remote = "!~/.gitalias/lab-remote"
    lab-mirror = "!~/.gitalias/lab-mirror"
    ; Ignore file actions
    ignore-template = "!~/.gitalias/ignore-template"
    ignore = "!~/.gitalias/ignore"
    ; Select branch
    co = "!git checkout $(git branch --format '%(refname:short)' | sk)"
    ; Generate keys
    key = "!~/.gitalias/key"
    ; Run branch justfile
    just = "!just -f $(git rev-parse --abbrev-ref HEAD | slugify).just"
    ; TODO Turn this into an llm-cli template
    ; diffwhat = "!f() { local diff_out=$(git diff \"@\") || return; echo \"$diff_out\" | llm 'Summarise this git diff into a few sentences or dot points'; }; f"
    ; TODO maintain
    ; genpr = "!~/.gitalias/genpr"
    ; clonetree = "!~/.gitalias/clonetree"
    ; up = "!~/.gitalias/up"


[color]
    ui = auto

[pretty]
    concise = "%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr)%C(bold blue) <%an>%C(reset)"

[core]
    editor = "nvim"

[credential]
    helper = cache --timeout=3600

[diff]
    colorMoved = plain
    algorithm = histogram
    mnemonicPrefix = true
    renames = true
    tool = fugitive

[mergetool]
    prompt = true

[pull]
    rebase = false

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[commit]
    verbose = true

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[branch]
    sort = -committerdate

[column]
    ui = auto

[tag]
    sort = version:refname

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[fetch]
    prune = true
    pruneTags = true
    all = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[merge]
    squash = true
[trace2]
    eventtarget = af_unix:dgram:/tmp/olly-git-trace2.sock
    configparams = remote.origin.url

[difftool]
    prompt = false

[difftool "fugitive"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$LOCAL\" \"$REMOTE\"

[difftool "vimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
